*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
img {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100svh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
  border-radius: 12px;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* UTILITIES */

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.hidden {
  display: none;
}

.flow-content > * + * {
  margin-top: var(--spacer-200);
}

.flow-contentSmall > * + * {
  margin-top: calc(var(--spacer-100) / 1.2);
}

.orangeText {
  color: var(--red);
}

.roseText {
  color: var(--rose-400);
}

.gap {
  gap: var(--spacer-100);
}

/* CUSTOM PROPERTY */

:root {
  /* color */
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);

  /* typography */
  --ff-primary: ;
  --fs-primary: 1rem;
  --fw-regular: 400;
  --fw-bold: 600;
  --fw--black: 700;

  /* soacing */
  --spacer-100: 1rem;
  --spacer-150: 1.5rem;
  --spacer-200: 2rem;
  --spacer-300: 3rem;
}

/* GENERAL STYLE */

main {
  z-index: 23;
  padding: var(--spacer-200) var(--spacer-150);
  background-color: var(--rose-100);
}

.group {
  position: relative;
  flex-direction: column;
  align-items: center;
}

.cart,
.cart2 {
  max-width: max-content;
  gap: 1rem;
  position: absolute;
  bottom: -11px;
  border: 1.5px solid var(--rose-500);
  border-radius: 25px;
  padding: calc(var(--spacer-100) / 2) var(--spacer-200);
  background-color: var(--rose-50);
}

.cart:hover {
  cursor: pointer;
}

.border {
  border: 2.5px solid var(--red);
  border-radius: 12px;
}

.cartNum {
  gap: 2.1rem;
  color: var(--rose-100);
  background-color: var(--red);
}

.increament,
.decreament {
  height: 18px;
  width: 18px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--rose-100);
  border-radius: 50%;
}

/* Your Cart */

.yourOrder {
  height: min-content;
  padding: var(--spacer-200) var(--spacer-150);
  background-color: var(--rose-50);
  border-radius: 8px;
}

.yourCartHeader {
  color: var(--red);
}

.cartArrangement1 {
  font-size: 13.5px;
  font-weight: var(--fw-bold);
  justify-content: space-between;
  align-items: center;
}

.cartArrangement2 {
  gap: var(--spacer-100);
  color: var(--rose-300);
}

.quantityColor {
  color: var(--red);
}

.itemUnitPrice {
  font-weight: var(--fw-regular);
}

.removeIcon {
  height: 14px;
  width: 14px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--rose-300);
  border-radius: 50%;
}

.horzontalLine {
  border: 1px solid var(--rose-100);
}

.orderTotal {
  justify-content: space-between;
  padding-block: var(--spacer-100);
}

.orderTotalAmount {
  font-weight: var(--fw--black);
}

.carbonNeutral {
  justify-content: center;
  gap: var(--spacer-100);
  background-color: var(--rose-100);
  border-radius: 8px;
  padding: var(--spacer-100);
}

.confirmBtn {
  margin-top: var(--spacer-150);
  padding-block: var(--spacer-100);
  justify-content: center;
  color: var(--rose-100);
  border: 1px solid var(--rose-50);
  border-radius: 25px;
  background-color: var(--red);
}

.emptyOrder {
  text-align: center;
  color: var(--rose-300);
  font-weight: var(--fw-bold);
}

.attribution {
  color: var(--rose-500);
  font-size: 12px;
  justify-content: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Order Confirmed */

.modal {
  min-height: 100svh;
  min-width: 100svw;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(0.5px);
  border: none;
  outline: none;
}

.orderConfirmation {
  height: max-content;
  background-color: var(--rose-50);
  padding: var(--spacer-300) var(--spacer-150);
  border-top-right-radius: var(--spacer-100);
  border-top-left-radius: var(--spacer-100);
}

.confirmedOrder {
  background-color: var(--rose-100);
  padding: var(--spacer-150);
  border-radius: 8px;
}

.arrange {
  align-items: center;
  justify-content: space-between;
  gap: var(--spacer-100);
}

.confirmedArrangement2 {
  gap: var(--spacer-100);
  color: var(--rose-900);
}

.confirmationImage {
  height: 65px;
  width: 65px;
}

.ConfirmationUnitPrice {
  font-weight: var(--fw-regular);
  color: var(--rose-500);
}

.horizontalLine02 {
  border: 0.1px solid var(--rose-300);
}

/* Tablet Screen */

@media (min-width: 700px) and (max-width: 1151px) {
  body {
    justify-content: center;
    align-items: center;
    background-color: var(--rose-100);
  }

  main {
    grid-template-columns: min-content;
  }

  .dessertItems {
    grid-template-columns: repeat(2, 250px);
    column-gap: var(--spacer-100);
  }

  .dessertItemsHeader {
    grid-column: 1 / -1;
  }
}

/* desktop screen */

@media (min-width: 1152px) {
  body {
    justify-content: center;
    align-items: center;
    padding-block: var(--spacer-200);
    background-color: var(--rose-100);
  }

  main {
    grid-template-columns: max-content max-content;
    column-gap: var(--spacer-100);
  }

  .modal {
    justify-content: center;
  }

  .orderConfirmation {
    max-width: max-content;
  }

  .dessertItems {
    grid-template-columns: repeat(3, 250px);
    column-gap: var(--spacer-100);
  }

  .dessertItemsHeader {
    grid-column: 1 / 4;
  }

  .yourOrder {
    margin-top: 0;
  }
}
